





<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Dashboard .</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <link href="https://demo.dashboardpack.com/architectui-html-free/main.css" rel="stylesheet">
</head>

<body>




    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content bg-midnight-bloom">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Total Orders</div>
                                <div class="widget-subheading">Last year expenses</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>{{ total_orders_count }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content bg-arielle-smile">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Income</div>
                                <div class="widget-subheading">Total Incom</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>₹ {{ total_income }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content bg-grow-early">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Customers</div>
                                <div class="widget-subheading">Users</div>
                            </div>
                            <div class="widget-content-right">


                                <div class="widget-numbers text-white">
                                    <span>{{ total_active_users_count}}</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3 card">

                        <div class="mb-3 card">
                            <div class="card-header-tab card-header-tab-animation card-header">
                                <div class="card-header-title">
                                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"></i>
                                    Sales Report
                                </div>

                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tabs-eg-77">
                                        <div class="row row-cols-1 row-cols-lg-1 p-4 gap-4">
                                            <div class="col-12 mb-4">
                                                <div class="d-flex gap-3">
                                                    <!-- Buttons for Daily, Monthly, Yearly -->
                                                    <button type="button" id="dailyButton"
                                                        class="btn btn-primary">Daily</button>
                                                    <button type="button" id="monthlyButton"
                                                        class="btn btn-primary">Monthly</button>
                                                    <button type="button" id="yearlyButton"
                                                        class="btn btn-primary">Yearly</button>
                                                </div>
                                            </div>

                                            <!-- Chart Containers -->
                                            <div class="col-12"
                                                style="height: 500px; display: flex; justify-content: center; margin: 0 auto;">
                                                <!-- Inserting your canvas elements here -->
                                                <canvas id="myDayChart" style="display: block;"></canvas>
                                                <canvas id="myMonthChart" style="display: none;"></canvas>
                                                <canvas id="myYearChart" style="display: none;"></canvas>
                                            </div>

                                            <div class="scroll-area-sm">
                                                <div class="scrollbar-container">
                                                    <table class="table table-bordered table-hover">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th scope="col">Customer</th>
                                                                <th scope="col">CONTACT</th>
                                                                <th scope="col">DATE</th>
                                                                <th scope="col">ADDRESS</th>
                                                                <th scope="col">Total Paid</th>
                                                                <!-- Add more columns as needed -->
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for order in orders %}
                                                            <tr>
                                                                <th scope="row">{{ order.full_name }}</th>
                                                                <td>{{ order.phone }}</td>
                                                                <td>{{ order.address1 }}</td>
                                                                <td>{{ order.created }}</td>
                                                                <td>₹{{ order.total_paid }}</td>
                                                                <!-- Add more columns as needed -->
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>


                                            <!-- Download Buttons -->
                                            <div class="col-12 d-flex justify-content-end">
                                                <a href="" class="btn btn-primary">Download
                                                    PDF</a>
                                            </div>
                                        </div>
                                        <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">
                                            Top Authors
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>



            <!-- ... Your existing HTML code ... -->

            <!-- ... Your existing HTML code ... -->

            <div class="scroll-area-sm">
                <div class="scrollbar-container">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Image</th>
                                <th scope="col">Order ID</th>
                                <th scope="col">Count</th>
                                <th scope="col">Total Income</th>
                                <!-- Add more columns as needed -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in product_data %}
                            <tr>
                                <td>{{ data.product.title }}</td>
                                <td>
                                    <img src="{{ data.product.image1.url }}" alt="{{ data.product.title }}" width="50">
                                </td>
                                <th scope="row">{{ data.product.id }}</th>
                                <td>{{ data.total_quantity_sold }}</td>
                                <td>₹{{ data.total_income }}</td>
                                <!-- Add more columns as needed -->
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
            <br><br>

        </div>

        <!-- ... Your existing HTML code ... -->

        <br><br>

        <!-- ... Your existing HTML code ... -->



    </div>

    </div>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>


    <script type="text/javascript"
        src="https://demo.dashboardpack.com/architectui-html-free/assets/scripts/main.js"></script>
</body>

</html>




<!-- Your Chart.js and Toggle Theme Scripts here -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctxm = document.getElementById('myMonthChart');

    const labelsm = {{ month| safe }}

    const datam = {{ total_orders_per_month }}
    const productSalesPerMonth = [{% for sales in total_sales_per_month %}'{{ sales }}', {% endfor %}];

    new Chart(ctxm, {
        type: 'bar',
        data: {
            labels: labelsm,
            datasets: [
                {
                    label: 'Monthly Orders',
                    data: datam,
                    borderWidth: 1,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Color for orders
                    borderColor: 'rgba(75, 192, 192, 1)', // Border color for orders
                    yAxisID: 'orders-y-axis', // Assign this dataset to the 'orders-y-axis'
                },
                {
                    label: 'Monthly Product Sales',
                    data: productSalesPerMonth,
                    borderWidth: 1,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)', // Color for product sales
                    borderColor: 'rgba(255, 99, 132, 1)', // Border color for product sales
                    yAxisID: 'sales-y-axis', // Assign this dataset to the 'sales-y-axis'
                },
            ],
        },
        options: {
            scales: {
                y: [
                    {
                        id: 'orders-y-axis',
                        beginAtZero: true,
                        position: 'left',
                        title: {
                            display: true,
                            text: 'Monthly Orders',
                        },
                    },
                    {
                        id: 'sales-y-axis',
                        beginAtZero: true,
                        position: 'right',
                        title: {
                            display: true,
                            text: 'Monthly Product Sales',
                        },
                    },
                ],
            },
        },
    });
    const ctxd = document.getElementById('myDayChart');

    const labelsd = {{ day| safe }};
    const datad = {{ total_orders_per_day }};
    const productSalesPerDay = [{% for sales in total_sales_per_day %}'{{ sales }}', {% endfor %}];

    new Chart(ctxd, {
        type: 'bar',
        data: {
            labels: labelsd,
            datasets: [
                {
                    label: 'Daily Orders',
                    data: datad,
                    borderWidth: 1,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Color for orders
                    borderColor: 'rgba(75, 192, 192, 1)', // Border color for orders
                    yAxisID: 'orders-y-axis', // Assign this dataset to the 'orders-y-axis'
                },
                {
                    label: 'Daily Product Sales',
                    data: productSalesPerDay,
                    borderWidth: 1,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)', // Color for product sales
                    borderColor: 'rgba(255, 99, 132, 1)', // Border color for product sales
                    yAxisID: 'sales-y-axis', // Assign this dataset to the 'sales-y-axis'
                },
            ],
        },
        options: {
            scales: {
                y: [
                    {
                        id: 'orders-y-axis',
                        beginAtZero: true,
                        position: 'left',
                        title: {
                            display: true,
                            text: 'Daily Orders',
                        },
                    },
                    {
                        id: 'sales-y-axis',
                        beginAtZero: true,
                        position: 'right',
                        title: {
                            display: true,
                            text: 'Daily Product Sales',
                        },
                    },
                ],
            },
        },
    });
    // Yearly Sales Chart
    const ctxy = document.getElementById('myYearChart');
    const labelsy = {{ year| safe }};
    const datay = {{ total_orders_per_year| safe }};
    const productSalesPerYear = [{% for sales in total_sales_per_year %}'{{ sales }}', {% endfor %}];

    new Chart(ctxy, {
        type: 'bar',
        data: {
            labels: labelsy,
            datasets: [
                {
                    label: 'Yearly Orders',
                    data: datay,
                    borderWidth: 1,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Color for orders
                    borderColor: 'rgba(75, 192, 192, 1)', // Border color for orders
                    yAxisID: 'orders-y-axis', // Assign this dataset to the 'orders-y-axis'
                },
                {
                    label: 'Yearly Product Sales',
                    data: productSalesPerYear,
                    borderWidth: 1,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)', // Color for product sales
                    borderColor: 'rgba(255, 99, 132, 1)', // Border color for product sales
                    yAxisID: 'sales-y-axis', // Assign this dataset to the 'sales-y-axis'
                },
            ],
        },
        options: {
            scales: {
                y: [
                    {
                        id: 'orders-y-axis',
                        beginAtZero: true,
                        position: 'left',
                        title: {
                            display: true,
                            text: 'Yearly Orders',
                        },
                    },
                    {
                        id: 'sales-y-axis',
                        beginAtZero: true,
                        position: 'right',
                        title: {
                            display: true,
                            text: 'Yearly Product Sales',
                        },
                    },
                ],
            },
        },
    });
</script>
<script>
    // Daily button click
    document.getElementById('dailyButton').addEventListener('click', function () {
        document.getElementById('myDayChart').style.display = 'block';
        document.getElementById('myMonthChart').style.display = 'none';
        document.getElementById('myYearChart').style.display = 'none';

    });

    // Monthly button click
    document.getElementById('monthlyButton').addEventListener('click', function () {
        document.getElementById('myDayChart').style.display = 'none';
        document.getElementById('myMonthChart').style.display = 'block';
        document.getElementById('myYearChart').style.display = 'none';
    });

    // Yearly button click
    document.getElementById('yearlyButton').addEventListener('click', function () {
        document.getElementById('myDayChart').style.display = 'none';
        document.getElementById('myMonthChart').style.display = 'none';
        document.getElementById('myYearChart').style.display = 'block';
    });
</script>
<script>
    const setup = () => {
        const getTheme = () => {
            if (window.localStorage.getItem('dark')) {
                return JSON.parse(window.localStorage.getItem('dark'))
            }
            return !!window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
        }

        const setTheme = (value) => {
            window.localStorage.setItem('dark', value)
        }

        return {
            loading: true,
            isDark: getTheme(),
            toggleTheme() {
                this.isDark = !this.isDark
                setTheme(this.isDark)
            },
        }
    }
</script>


