{% extends 'adm/base.html' %}
{% load static %}
{% block content %}

<div class="col-md-6">
    <form  method="POST" enctype="multipart/form-data"> <!--didnt put action="" the form wll submit to same url  -->
        {% csrf_token %}
    <label  class="form-label " >Current Category :<b>{{cat.category_name}} </b></label>
    <input class="form-control"  type="text" name="name">
    <label for="formFile" class="form-label">Category image</label>
    <input class="form-control" type="file" name="image"><br>
     
     <div class="col-md-4">
      <div class="card card-product-grid">
      <img  src="{{ cat.cat_image.url }}">
    </div>
     </div>
     <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}