{% extends 'adm/base.html' %}
{% load static %}

{% block content %}

    <h>categories...</h>
  <div>
    <table class=" table-hover table">
        <thead>
          <tr class="table-info">
              <td>ID</td>
              <td>CATEGORY</td>
              <td>MANAGE</td>
          </tr>
        </thead>
        <tbody>
           
            {% for cat in Category %}
            <tr>
                <td> {{cat.id}} </td>
                <td> {{cat.category_name}}</td>
            
           
                <td><a href="{% url 'add_category' %}"><button type="button" class="btn btn-primary">ADD</button></a>
                    <a href="/edit_category/{{cat.id}}"><button type="button" class="btn btn-primary">EDIT</button></a>
                    <a href="/delete_category/{{cat.id}}"><button type="button" class="btn btn-primary">DELETE</button></a>
                </td>
            </tr>
                {%endfor%}
        </tbody>
    </table>
</div>
    
{% endblock %}