{% extends 'index_base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
	<!-- <div class="container">
	
	<div class="intro-banner-wrap">
		<img src="{% static 'images/banners/banner-1.jpg' %}" class="img-fluid rounded ">
	</div>
	
	</div> container //  -->
	</section>
			
	<!-- ========================= SECTION MAIN END// ========================= -->
	<section class="section-name padding-y-sm">
		<div class="container">
		
		<header class="section-heading">
			<!-- <a href="./store.html" class="btn btn-outline-primary float-right">See all</a> -->
			<h3 class="section-title">products</h3>
		</header>

		<section class="section-name padding-y-sm">
			<div class="container">
		<div class="row">
{% for prod in Products %}

<div class="col-md-2">
	<a href="/product_detail/{{prod.id}}"><div class="card card-product-grid">
		
		 <img  src="{{ prod.prod_image.url }}" alt="Products Image">
		<figcaption class="info-wrap">
			<strong style=" font: 18px bold ;color: #726f6f" class="text-center ">{{prod.prod_name}}</strong>
			
			<p  style="text-wrap:nowrap; font-size: 12px; color: #726f6f;">{{ prod.description }}</p><br>
			{% if prod.dis_price %}
            <p class="text-capitalize" style="color: #726f6f;">
              ₹ {{prod.price|floatformat:0 }}<del><small style="color: #e04d4d;">{{ prod.old_price|floatformat:0  }}</small></del>/Kg
			  </p>
          {% else %}
            <p class="text-capitalize" style="color: #726f6f;">₹ {{prod.price|floatformat:0}}/Kg</p>
          {% endif %}
			<!-- <h6 class="float-left fs-8" style="color: #726f6f;">{{ prod.price|floatformat:0 }}/Kg</h6>
			<h6 class="float-right" style="color: #726f6f;">{{ prod.dis_price|floatformat:0 }}/Kg</h6> -->
		</figcaption>
	</div></a>
</div>
	

	{% endfor %}
</div>
</div>
</section>
<nav class="mt-4" aria-label="Page navigation sample">
	<ul class="pagination">
		     {% if Products.has_previous %}
		     <li class="page-item "><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
			 {% endif %}
				{% for i in Products.paginator.page_range %}
			  <li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
			  {% endfor %}
			  {% if Products.has_next %}
			  <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
			  {% endif %}
			</ul>
		  </nav>
		
{% endblock %}