{% extends 'index_base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION INTRO END// ========================= -->
 <div class="container mt-5" id="container">
    <div class="row">
        <!-- Left Sidebar -->
        
        <div class = "col-lg-9">


<div class="container mt-5" style="min-height: 300px;">
    
   
        <div class="alert alert-success text-center">
            <h3 style="color: green;">Order Placed Successfully!</h3>
            <p>Your order with Order ID: <strong>#{{ neworder.tracking_no}}</strong> order amount <strong>₹{{neworder.total_price}}</strong> has been successfully placed.</p>
        </div>

        <div class="text-center">
            <a href="{% url 'my_orders' %}"class="btn btn-primary btn-lg mr-2">Order Details</a>
            <a href="{% url 'home' %}" class="btn btn-secondary btn-lg">Continue Shopping</a>
        </div>
    

</div>
</div>
</div>
</div>


{% endblock %}