{% extends 'index_base.html' %}
{% load static %}
{% block content %}

<!-- ============================ COMPONENT 1 ================================= -->
{% for prod in product %}
<section class="section-content padding-y bg">
    <div class="container">
        <div class="card ">
            <div class="row no-gutters">
                <aside class="col-md-4">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <a href="#"><img src="{{prod.prod_image.url}}"></a>
                        </div> <!-- img-big-wrap.// -->

                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-md-4 border-left">
                    <article class="content-body">
                        <h2 class="title">{{prod.prod_name}}</h2>
                        <div class="mb-3">
                            <var class="price h5">Price Rs.{{prod.price|stringformat:'d'}}/Kg</var>
                        </div>
                        <p>{{prod.description}}.</p>
                        <hr>

                        <div class="col product-data">
                            <div class="input-group input-spinner product-data">
                                <input type="hidden" class="prod_id" value="{{prod.id}}">
                                {% csrf_token %}
                                <div class="input-group-prepend">
                                    <button class="btn btn-light button-minus " type="button"> - </button>
                                </div>
                                <input type="text" class="form-control qty-input quantity-element" value="1">
                                <div class="input-group-append">
                                    <button class="btn btn-light button-plus " type="button"> + </button>
                                </div>
                            </div>
                            <hr>
							<h>Min Order 1.Kg</h><hr>
                            <a href="" class="btn btn-primary addtocart" data-prod-id="{{ prod.id }}">Add to cart
                                <i class="fas fa-shopping-cart"></i></a>
                        
                        <a href="" class="btn btn-success addtowishlist" data-prod-id="{{ prod.id }}">Add to Wishlist
                            <i class="fa fa-heart" aria-hidden="true"></i></a>
                        </div>
                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

        <br>

        <div class="row">
            <div class="col-md-9">
                <header class="section-heading">
                    <h3>Customer Reviews </h3>
                </header>
                <article class="box mb-3">
                    <div class="icontext w-100">
                        <img src="" class="img-xs icon rounded-circle">
                        <div class="text">
                            <span class="date text-muted float-md-right">24.04.2020 </span>
                            <h6 class="mb-1">{{user.username}} </h6>
                        </div>
                    </div> <!-- icontext.// -->
                    <div class="mt-3">
                        <p>
                            Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip
                        </p>
                    </div>
                </article>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </div>
    </div> <!-- container .//  -->
</section>
{% endfor %}

{%if messages%} 
    {%for message in messages%}
    <script>
      alert("{{message}}");
    </script>
    {%endfor%} 
    {%endif%}
{% endblock %}
{% block scripts %}
<script>
    // Handle click on "Add to Cart" button
    $('.button-plus').click(function (e) {
        e.preventDefault();
        var inc_value = $(this).closest('.product-data').find('.qty-input');
        var value = parseInt(inc_value.val(), 10);
        value = isNaN(value) ? 0 : value;
        if (value < 10) {
            value++;
            inc_value.val(value);
        }
    });

    $('.button-minus').click(function (e) {
        e.preventDefault();
        var dec_value = $(this).closest('.product-data').find('.qty-input');
        var value = parseInt(dec_value.val(), 10);
        value = isNaN(value) ? 0 : value;
        if (value > 1) {
            value--;
            dec_value.val(value);
        }
    });

    $('.addtocart').click(function (e) {
        e.preventDefault();
        var prod_id = $(this).closest('.product-data').find('.prod_id').val();
        var prod_qty = $(this).closest('.product-data').find('.qty-input').val();
        var token = $('input[name=csrfmiddlewaretoken]').val();

        console.log('prod_id:', prod_id);

        $.ajax({
            method: "POST",
            url: "/category/add_cart/",
            data: {
                'prod_id': prod_id,
                'prod_qty': prod_qty,
                csrfmiddlewaretoken: token
            },
            success: function (response) {
                window.location.href = "http://127.0.0.1:8000/category/cart/";// easy way to laod to specified page after action
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });

//  wish list script
    $('.addtowishlist').click(function (e) {
        e.preventDefault();
        var prod_id = $(this).closest('.product-data').find('.prod_id').val();
        
        var token = $('input[name=csrfmiddlewaretoken]').val();

        console.log('prod_id:', prod_id);

        $.ajax({
            method: "POST",
            url: "/addto_wishlist",
            data: {
                'prod_id': prod_id,
                
                csrfmiddlewaretoken: token
            },
            // success: function (response) {
            //     window.location.href = "http://127.0.0.1:8000/wishlist";// easy way to laod to specified page after action
            // },
           
        });
    });
</script>


{% endblock scripts %}



